<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.faceclaw.speechprobe">
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="35" />
    <!-- Deliberately no RECORD_AUDIO or INTERNET permission: external synthetic PCM only. -->
    <queries>
        <package android:name="com.faceclaw.app" />
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
    </queries>
    <application android:label="Prueba de voz Pixel" android:debuggable="true" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
